.main{
  
}

.container{
    margin: auto 0;
}

:host {
  background: rgb(36,25,215);
  background: linear-gradient(90deg, rgba(36,25,215,1) 0%, rgba(1,177,213,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-form-field.mat-form-field {
  font-size: 20px;
  width: 100%;
  min-width: 300px
}

.mat-input-element {
  line-height: 17px;
}

mat-card.mat-card{
  padding: 40px 60px
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}