.form-title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */

  display: flex;
  justify-content: space-around;
  align-items: center;

  color: #7934ea;
}

