<body>

<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 header-text">
        <h2 class="space-need">{{photographer?.name}}</h2>
        <h6>{{photographer?.userRole}}</h6>
      </div>
    </div>
  </div>
</div>

<div class="contest-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-content" style="border-bottom-right-radius: 10px; border-bottom-left-radius: 10px">
          <div class="row">
            <div class="col-lg-4">
              <div class="border-button">
                <a routerLink="/booking">BOOKING</a>
              </div>
            </div>
            <div class="col-lg-8">
              <ul>
                <li><i class="fa fa-medal"></i> <span>Rate:</span> {{photographer?.Rate}}</li>
                <li><span>Participants:</span> 118</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="contest-waiting">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="waiting-item">
          <img src="assets/images/waiting-01.jpg" alt="">
          <div class="down-content">
            <h4>Mountain Picture</h4>
            <p>Lorem ipsum dolor siter and ametters conseietur adipiscing elit.</p>
            <span class="price">Price: <em>$900</em></span>
            <span class="deadline">Duration: <em>3 hours</em></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="waiting-item">
          <img src="assets/images/waiting-02.jpg" alt="">
          <div class="down-content">
            <h4>Nature Walk in the Forest</h4>
            <p>Lorem ipsum dolor siter and ametters conseietur adipiscing elit.</p>
            <span class="price">Price: <em>$1,400</em></span>
            <span class="deadline">Duration: <em>2 hours</em></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="waiting-item">
          <img src="assets/images/waiting-03.jpg" alt="">
          <div class="down-content">
            <h4>The Road to Photograph</h4>
            <p>Lorem ipsum dolor siter and ametters conseietur adipiscing elit.</p>
            <span class="price">Price: <em>$1,250</em></span>
            <span class="deadline">Duration: <em>4 hours</em></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="waiting-item">
          <img src="assets/images/waiting-04.jpg" alt="">
          <div class="down-content">
            <h4>The Lake and Mountain Scenery</h4>
            <p>Lorem ipsum dolor siter and ametters conseietur adipiscing elit.</p>
            <span class="price">Price: <em>$1,600</em></span>
            <span class="deadline">Duration: <em>10 hours</em></span>
          </div>
        </div>
      </div>
<!--      <div class="col-lg-12">-->
<!--        <ul class="pagination">-->
<!--          <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>-->
<!--          <li><a href="#">1</a></li>-->
<!--          <li class="active"><a href="#">2</a></li>-->
<!--          <li><a href="#">3</a></li>-->
<!--          <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>
  </div>
</section>

<footer style="background-color: #3B5998">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>PhoBo - Photographer Booking
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>

<script src="assets/js/tabs.js"></script>
<script src="assets/js/popup.js"></script>
<script src="assets/js/custom.js"></script>

</body>
