<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-2">
        <mat-form-field class="col-12">
            <mat-select required formControlName="conceptId" placeholder="Concept">
                <mat-option *ngFor="let concept of concepts" [value]="concept.id">{{ concept.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-12">
            <input matInput required formControlName="durationConfig" placeholder="Duration Configuration" />
            <mat-hint>Ex. 1:2:3</mat-hint>
        </mat-form-field>
    </div>

    <div class="button">
        <button type="submit" mat-flat-button color="primary">Add</button>
    </div>
</form>
