table {
  width: 100%;
}

.project-table-heading {
  margin-top: 25px;
  font-weight: 500px;
  font-size: 3.2em;
}

.project-table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.project-table-top-btn {
  padding: 0 15px;
}

.mat-form-field {
  margin: 0;
  font-size: 14px;
  width: 500px;
}

.link-cell{
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.link-cell:hover{
  color: #0056b3;
  text-decoration: underline;
}
