/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(36, 25, 215, 1) 0%,
    rgba(1, 177, 213, 1) 100%
  );
}
