<!--<mat-card class="container">-->
<!--    <mat-card-title>Home</mat-card-title>-->
<!--    <mat-card-content>-->
<!--        <h1>This is home place holder, wanna try login page that I created? <a routerLink="/login">Click here</a></h1>-->
<!--    </mat-card-content>-->
<!--  <mat-card-footer>-->

<!--  </mat-card-footer>-->
<!--</mat-card>-->


<body >

<section class="popular-categories">
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let photographer of photographers; index as i;" class="col-lg-3 col-sm-6">
        <div class="popular-item tab-photo-custom">
          <div class="top-content">
            <div class="icon">
              <img src="{{photographer?.avatarUrl | resource}}" alt="" style="max-width: 100%">
            </div>
            <div class="right">
              <h4>{{photographer?.name}}</h4>
              <span *ngIf="photographer?.BookingConceptConfigs == null"><em>0</em></span>
              <span *ngIf="photographer?.BookingConceptConfigs != null"><em>{{photographer?.BookingConceptConfigs?.id}}</em></span>
              <p style="display: contents"> Available Concepts</p>
            </div>
          </div>
          <div class="thumb">
            <img src="assets/images/popular-02.png" alt="">
            <span class="category">Top Contest</span>
            <span *ngIf="photographer?.Rate == null" class="likes"><i class="fa fa-heart"></i> 0</span>
            <span *ngIf="photographer?.Rate != null" class="likes"><i class="fa fa-heart"></i> {{photographer?.Rate}}</span>
          </div>
          <div class="border-button">
            <a routerLink="/user-detail/{{photographer.id}}">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer style="background-color: #3B5998">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>PhoBo - Photographer Booking
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>

<script src="assets/js/tabs.js"></script>
<script src="assets/js/popup.js"></script>
<script src="assets/js/custom.js"></script>

</body>
