<!--<mat-card class="container">-->
<!--    <mat-card-title>Home</mat-card-title>-->
<!--    <mat-card-content>-->
<!--        <h1>This is home place holder, wanna try login page that I created? <a routerLink="/login">Click here</a></h1>-->
<!--    </mat-card-content>-->
<!--  <mat-card-footer>-->

<!--  </mat-card-footer>-->
<!--</mat-card>-->


<body >

<section class="closed-contests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="padding-top: 10%;">

      </div>
      <div class="col-lg-12">
        <div class="section-heading text-center">
          <h1>Welcome to PhoBo </h1>
        </div>
        <div class="border-button text-center">
          <a routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="popular-categories">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="popular-item tab-photo-custom">
          <div class="top-content">
            <div class="icon">
              <img src="assets/images/icon-01.png" alt="">
            </div>
            <div class="right">
              <h4>Nature Pic Contest</h4>
              <span><em>126</em> Available Contests</span>
            </div>
          </div>
          <div class="thumb">
            <img src="assets/images/popular-01.png" alt="">
            <span class="category">Top Contest</span>
            <span class="likes"><i class="fa fa-heart"></i> 256</span>
          </div>
          <div class="border-button">
            <a href="contest-details.html">Browse Nature Pic Contests</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2048 <a href="#">SnapX</a> Photo Contest Co., Ltd. All rights reserved.

          Design: <a title="CSS Templates" rel="sponsored" href="https://templatemo.com/page/1" target="_blank">TemplateMo</a></p>
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>

<script src="assets/js/tabs.js"></script>
<script src="assets/js/popup.js"></script>
<script src="assets/js/custom.js"></script>

</body>
